# Project exclude paths
/cmake-build-debug/
/build/
Feature_plp.txt
total_plp.txt
Track_plp.txt
CameraTrajectory.txt
KeyFrameTrajectory.txt
MeshMap.ply
/Vocabulary/ORBvoc.txt
/lib
/Examples/RGB-D/Planar_SLAM
run.sh
/mesh